# Database Connection String (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/kandaga?schema=public"

# NextAuth Configuration
NEXTAUTH_SECRET="kandaga-secret-key-2026"
NEXTAUTH_URL="http://localhost:3000"

# Google OAuth Provider Credentials
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"

# GitHub Provider Credentials
GITHUB_ID="your_github_client_id"
GITHUB_SECRET="your_github_client_secret"

# Facebook Provider Credentials
FACEBOOK_CLIENT_ID="your_facebook_client_id"
FACEBOOK_CLIENT_SECRET="your_facebook_client_secret"

# LinkedIn Provider Credentials
LINKEDIN_CLIENT_ID="your_linkedin_client_id"
LINKEDIN_CLIENT_SECRET="your_linkedin_client_secret"